.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: #fff;
}

.text-muted {
  color: var(--gray-600);
}

/* Tailwind css style css class (text color) */
.text-red-100 {
  color: #fee2e2;
}
.text-red-200 {
  color: #fecaca;
}
.text-red-300 {
  color: #fca5a5;
}
.text-red-400 {
  color: #f87171;
}
.text-red-500 {
  color: #ef4444;
}
.text-red-600 {
  color: #dc2626;
}
.text-red-700 {
  color: #b91c1c;
}
