@media (min-width: 576px) {
    :root {
      --breakpoint: sm;
    }
  }
  
  @media (min-width: 768px) {
    :root {
      --breakpoint: md;
    }
  }
  
  @media (min-width: 992px) {
    :root {
      --breakpoint: lg;
    }
  }
  
  